<div class="small-box bg-aqua">
    <div class="inner">
        <h3>Task</h3>
        <h4>All Tasks related to you</h4>
        <p>Only You</p>
    </div>
    <div class="icon">
        <i class="fa fa-list-ol"></i>
    </div>
    <a routerLink="/task/all" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h4><strong>Tasks Incoming</strong></h4>
                <h4>{{incoming}} task</h4>
                <p>Only You</p>
            </div>
            <div class="icon">
                <i class="fa fa-list-ol"></i>
            </div>
            <a routerLink="/task/incoming" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h4><strong>Tasks On Going</strong></h4>
                <h4>{{going}} task</h4>
                <p>Only You</p>
            </div>
            <div class="icon">
                <i class="fa fa-list-ol"></i>
            </div>
            <a routerLink="/task/going" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h4><strong>Delayed Tasks</strong></h4>
                <h4>{{delayed}} task</h4>
                <p>Only You</p>
            </div>
            <div class="icon">
                <i class="fa fa-list-ol"></i>
            </div>
            <a routerLink="/task/delayed" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>